<ul>
    <%@station.posts.each do |post|%>
        <li>
            <h3><%=link_to post.title, station_post_path(@station,post)%></h3>
            <p><%=post.description%></p>
            <p><%=post.relative_time%> by: <%=post.user.username%></p>
        </li>
    <%end%>
</ul>