<ul>
    <%@station.posts.reverse.each do |post|%>
        <li>
            <div class="card my-3" style="width: 28rem;">
                <h3><%=link_to post.title, station_post_path(@station,post)%></h3>
                <p><%=post.description%></p>
                <p><%=post.relative_time%> by: <%=post.user.username%></p>
            </div>
        </li>
    <%end%>
</ul>